{% extends 'main.html' %}
{% block content %}
<style>
input.input[type='text'],
input.input[type='email'],
input.input[type='password'],
input.input[type='number'],
select.input,
textarea.input {
  min-width: 24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-light);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-bg);
}

input.input[type='text']:focus,
input.input[type='email']:focus,
input.input[type='password']:focus,
input.input[type='number']:focus,
input.input[type='text']:active,
input.input[type='email']:active,
input.input[type='password']:active,
input.input[type='number']:active{
  outline: none;
  border: 2px solid var(--color-main);
}
</style>

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Password reset complete</h3>

            <p>
                Your password has been set. You may go ahead and login now.
            </p>
            <br>
                
            <a class="btn btn--sub btn--lg  my-md" href="{% url 'users:login' %}">Login</a>
           
        </div>
    </div>
</main>

{% endblock  %}